@font-face {
    font-family: "Exo-Regular";
    src: url("fonts/Exo-Regular.woff2");
    
}
@font-face {
    font-family: "Exo-Thin";
    src: url("fonts/Exo-Thin.woff2");
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header {
    font-family: "Exo-Regular", sans-serif;
    font-size: 30px;
}
h1 {
    font-family: "Exo-Thin", sans-serif;
    font-size: 35px;
}
h2 {
    display: inline;
    font-family: "Exo-Thin", sans-serif;
    font-size: 30px;
    border-bottom: 2px dotted;
}
nav ul {
    display: flex;
    list-style: none;
    font-family: "Exo-Regular", sans-serif;
    font-size: 25px;
    background-image: none;
    height: 40px;
}
ul {
    font-family: "Exo-Regular", sans-serif;
    
    font-size: 25px;
    position: relative;
}
li{
    display: inline-flex;
    background-color: rgb(221, 239, 221);
    border: 1px dashed;
    padding: 2px;
    margin: 4px;
}

li:has(a[href="recipes/salsa-verde.html"]){
    color: rgb(255, 255, 255);
    background-image: url("images/salsa-verde.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width:200px;
}

li:has(a[href="recipes/quinoa-white-chicken-chili.html"]){
    background-image: url("images/quinoa-white-chicken-chili.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width:200px;
}

li:has(a[href="recipes/spicy-thai-kale-salad.html"]){
    background-image: url("images/spicy-thai-kale-salad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width:200px;
}

li:has(a):hover {
    background-color: rgb(239, 255, 239);
}

body{
    display: grid;
    background-color: rgb(178, 210, 176);
}